.card {
  width: 200px;
  height: 200px;
  padding: 10px;
  border: 5px solid gray;
  margin: 10px;
}

.card-title{
    font-weight: 500;
    font-size: 1.5rem;
    color: bisque;
    text-align: center;
}

.card-list{
  width: 260px;
  max-height: 80vh;
  border: 10px solid rgb(56, 53, 53);
  text-align: center;
  margin: 10px;
}
.cards-container{
  max-height: 90%;
  overflow-y: auto;
}
.card-list-title{
    font-weight: 500;
    font-size: 1.5rem;
    color: rgb(234, 228, 220);
    text-align: center;
}

.list-container {
  max-width: 100vw;
  overflow-x: auto;
  display: flex;
}